<h2 class="page-title">Realizar Relato</h2>
<div class="card">
    <div class="card-body">
        <p>As informações aqui registradas serão recebidas por uma empresa terceirizada e
            especializada, as informações são de sigilo absoluto e o tratamento adequado de cada
            situação pela alta administração da Calçados Crival, sem conflitos de interesses.</p>
        <p>A veracidade das informações providas é uma responsabilidade do relator. Todas as
            informações serão verificadas durante o processo de averiguação, e as ações decorrentes
            serão tomadas a critério exclusivo da Calçados Crival.</p>

        <h5 class="mt-4">Proteção de Dados</h5>
        <p>Todas as informações aqui registradas serão tratadas de forma confidencial por sua
            organização e pela ICTS, uma empresa independente e especializada na captação e
            tratamento de denúncias.</p>
        <p>A captação dessas informações tem por finalidade a apuração de possíveis condutas
            consideradas antiéticas ou que violem os princípios éticos e padrões de conduta e/ou a
            legislação vigente.</p>
        <p>Todos os relatos serão armazenados por tempo indeterminado para realização do processo de
            apuração e deliberação sobre o caso, observando-se as exigências legais específicas.
            Além disso, informações consolidadas serão utilizadas para geração de estatísticas da
            operação, mas nenhum nome envolvido ou dado pessoal será exposto.</p>
        <p>Eventuais dados pessoais informados serão tratados conforme as normativas estabelecidas
            pela Lei Geral de Proteção de Dados (LGPD - Lei nº 13.709/2018) e demais legislações
            aplicáveis.</p>
        <p>Ao clicar em "Concordo" você indica ciência e concordância com o fornecimento de
            informações que serão única e exclusivamente utilizadas para esta finalidade.</p>
        <p>Se desejado, posteriormente, poderá exercer seus direitos de acesso, retificação,
            cancelamento e oposição.</p>

        <hr class="my-4">

        <div class="form-check my-4">
            <input class="form-check-input" type="checkbox" value="" id="check-concordancia-relato">
            <label class="form-check-label" for="check-concordancia-relato">
                Declaro que li e compeendi as informações acima.
            </label>
        </div>

        <div class="d-flex justify-content-center gap-3">
            <button class="btn btn-success btn-lg" id="btn-concordo-termos" disabled>
                <i class="fas fa-check-circle me-2"></i> Concordo com os termos acima
            </button>
            <button class="btn btn-danger btn-lg" id="btn-nao-concordo-termos" disabled>
                <i class="fas fa-times-circle me-2"></i> Não concordo com os termos acima
            </button>
        </div>
    </div>
</div>