<h2 class="page-title">Controle de Motoristas</h2>
<div class="d-flex justify-content-end mb-3">
    <button class="btn btn-primary" onclick="abrirModalMotorista(null)"><i class="fas fa-user-plus"></i> Novo
        Motorista</button>
</div>
<div class="card">
    <div class="card-header">Motoristas Habilitados</div>
    <div class="card-body table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>CNH</th>
                    <th>Validade</th>
                    <th>Setor</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id="tabela-frota-motoristas"></tbody>
        </table>
    </div>
</div>