<header class="main-header">
    <button class="navbar-toggler d-md-none" type="button" id="sidebarToggle">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link disabled" href="#" id="user-display-name">
                    <i class="fas fa-user-circle"></i> Carregando...
                </a>
            </li>
            <!-- Botão de Comando de Voz -->
            <li class="nav-item">
                <a class="nav-link" href="#" id="btn-voice-command" title="Comando de Voz">
                    <i class="fas fa-microphone"></i>
                </a>
            </li>
        </ul>
    </div>
</header>