<!-- Modal Prova -->
<div class="modal fade" id="modalProvaTreinamento" tabindex="-1" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-warning text-dark">
                <h5 class="modal-title" id="prova-titulo">Prova</h5>
            </div>
            <div class="modal-body bg-light" id="prova-perguntas-container"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" onclick="finalizarProva()">Finalizar e Enviar</button>
            </div>
        </div>
    </div>
</div>