<!-- Modal Selecionar Colaborador para Reposição -->
<div class="modal fade" id="modalSelecionarColaboradorReposicao" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Selecionar Colaborador</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="reposicao-id-selecao">
                <div class="mb-3">
                    <label class="form-label">Colaborador do Cadastro</label>
                    <select class="form-select" id="select-colaborador-reposicao" required>
                        <option value="">Carregando...</option>
                    </select>
                    <div class="form-text">Selecione o colaborador que irá ocupar esta vaga.</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="confirmarPreenchimentoVaga()">Confirmar</button>
            </div>
        </div>
    </div>
</div>