<!-- Modal para criar novo setor -->
<div class="modal fade" id="modal-novo-setor" tabindex="-1" data-bs-backdrop="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Novo Setor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="novo-setor-nome" class="form-label">Nome do Setor</label>
                    <input type="text" id="novo-setor-nome" class="form-control" placeholder="Ex: Departamento Pessoal">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btn-salvar-novo-setor">Salvar Setor</button>
            </div>
        </div>
    </div>
</div>
