<!-- Modal Login Manutenção (Dev) -->
<div class="modal fade" id="modalLoginManutencao" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title"><i class="fas fa-lock me-2"></i>Acesso Restrito</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="form-login-manutencao">
                    <div class="mb-3">
                        <label class="form-label">Chave de Acesso</label>
                        <input type="password" class="form-control text-center" id="chave-manutencao"
                            placeholder="****">
                    </div>
                    <button type="submit" class="btn btn-danger w-100">Entrar em Manutenção</button>
                </form>
            </div>
        </div>
    </div>
</div>